.container {
	display: flex;
	padding: 0px;
	margin: 0px;
	width: 1280px;
	margin: auto;
}

body {
	background-color: #111111;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

.hello {
		padding: 30px;
		color: #AAAAAA;
		margin-left: 350px;
}

.hello .name {
		font-size: 70px;
		font-weight: bold;

		width: 300px;
		color: #CB460B;

		transition: color 500ms ease-out;

		padding-bottom: 5px;
		background-image: linear-gradient(#CB460B, #CB460B);
		background-position: 0 100%; /*OR bottom left*/
		background-size: 0% 5px;
		background-repeat: no-repeat;
		transition: background-size 200ms, background-position 0s 200ms;
		
}

.hello .name:hover {
		color: #CB460B;
		transition: color 500ms ease-out;
		background-position: 100% 100%; /*OR bottom right*/
		background-size: 100% 5px;
		transition: background-size 200ms, background-position 0s 200ms;
}

.hello .about {
		position: fixed;
		top: 50px;
		left: 100px;
		font-size: 25px;
}


.post {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
}

.post .post-title {
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		color: #AAAAAA;

	padding-bottom: 5px;
	background-image: linear-gradient(#CB460B, #CB460B);
	background-position: 0 100%; /*OR bottom left*/
	background-size: 0% 5px;
	background-repeat: no-repeat;
	transition: background-size 500ms, background-position 0s 500ms;

		
}

.post-title:hover {
	color: #CB460B;
	transition: color 500ms ease-out;
	background-position: 100% 100%; /*OR bottom right*/
	background-size: 100% 5px;
	transition: background-size 500ms, background-position 0s 500ms;

}
.post-title:active {
		color: black;
}

.post .post-description {
		width: 650px;
}

.social {
		width: 300px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		position: fixed;
		bottom: 20px;
		left: 100px;
		margin: 30px;
}

.social .item {
		display: flex;
		align-items: center;
		font-weight: bold;
		margin: 5px;
}
.social .item a {
		color: #AAAAAA;
		text-decoration: underline;
}

.project {
		width: 300px;
		margin: 20px;
		display: flex;
		flex-direction: column;
}

.project .project-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #CB460B;

	width: 300px;

	padding-bottom: 5px;
	background-image: linear-gradient(#CB460B, #CB460B);
	background-position: 0 100%; /*OR bottom left*/
	background-size: 0% 5px;
	background-repeat: no-repeat;
	transition: background-size 500ms, background-position 0s 500ms;
}

.project-title:hover {
	color: #CB460B;
	transition: color 500ms ease-out;
	background-position: 100% 100%; /*OR bottom right*/
	background-size: 100% 5px;
	transition: background-size 500ms, background-position 0s 500ms;
}

.project-title:active {
color: black;
}

.project .project-description {
width: 300px;
}


.content {
/* background-color: white; */
	color: #AAAAAA;
	width: 1280px;
	margin: auto;
}

.content .section .text {
}

.link {
		color: #AAAAAA;
		font-weight: bold;
}


ul {
	list-style-type: circle;
  list-style-position: inside;

  margin: 0;
  padding: 0;
}


.topic {
		display: flex;
}

.topic.small {
		margin-top: 100px;
		width: 700px;
}

.topic.medium {
		width: 950px;
		margin-top: 200px;
}

.topic.large {
		margin-top: 500px;
		width: 700px;
}

.topic.center {
    margin-left: 50%;
		transform: translate(-50%, 0);
}

.topic-title {
		width: 200px;
		margin-right: 30px;
		font-size: 40px;
		color: #AAAAAA;
		font-weight: bold;
}

.topic-content {
		margin: 10px;
		display: flex;
		flex-direction: column;
}

.topic-content.horizontal {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
}

.topic-content.large {
		width: 900px;
}

.content .section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15%;
	/* transform: translate(0, -50%); */
}
.content .section.vertical {
		flex-direction: column;
}


.content .about {
		margin-top: 12%;
}

.content .section .title {
	font-size: 40px;
	color: #CB460B;
	font-weight: bold;
	width: 80px;
	margin: 10px;
	margin-right: 50px;
}

.content .section .section-content-vertical {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
}



